<nav class="navbar navbar-expand-lg">
  <div class="container-xxl">
    <!-- <a class="navbar-brand py-0 pb-2" href="#">Drew Chen</a> -->
    <p class="fs-6 en-font m-0">@ 2026 by Drew Chen</p>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-11 fs-5 me-8">
        <li class="nav-item">
          <a class="nav-link nav-link-line" aria-current="page" href="#">
            <svg
              class="mb-2"
              width="32px"
              height="28"
              viewBox="0 0 32 28"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.79,9.38c0-1.24-.96-2.24-2.13-2.24h-14.99c-1.18,0-2.14,1-2.14,2.24v9.67c0,1.27.96,2.27,2.18,2.27h14.91c1.22,0,2.18-.99,2.18-2.25v-9.69ZM24.5,9.39v9.3l-4.47-5.33,4.46-4.13s.01.1.01.16ZM16.18,15.13l-7.18-6.65h14.35l-7.17,6.65ZM13.29,14.25l2.43,2.25c.26.25.65.24.91,0l2.44-2.27,4.77,5.72c-.05.01-.11.02-.17.02h-14.99c-.06,0-.11,0-.15-.01l4.76-5.7ZM12.32,13.37l-4.48,5.36v-9.33c0-.06,0-.11.01-.17l4.46,4.14Z"
              />
            </svg>
            Email</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">LINKEDIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">BEHANCE</a>
        </li>
      </ul>
      <a href="#navbar" class="back-to-top fs-6" id="top">
        <svg
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.2002 23.5921V23.5681L16.0002 8.39209L24.8002 23.6081L7.2002 23.5921Z"
            fill="currentColor"
          />
        </svg>
        TOP
      </a>
    </div>
  </div>
</nav>
