<nav class="navbar navbar-expand-lg">
  <div class="container-xxl">
    <!-- <a class="navbar-brand py-0 pb-2" href="#">Drew Chen</a> -->
    <p class="fs-6 en-font m-0">@ 2026 by Drew Chen</p>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center gap-11 fs-5 me-8">
        <li class="nav-item">
          <a class="nav-link nav-link-line" aria-current="page" href="#">
            <svg
              width="32px"
              height="28"
              viewBox="0 0 32 28"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M25.4999 19.0715C25.4999 20.1915 24.6533 21.0175 23.6199 21.0175H8.71325C7.65325 21.0175 6.83325 20.1635 6.83325 19.0435V9.3765C6.83325 8.3055 7.64659 7.4375 8.67325 7.4375H23.6666C24.6866 7.4375 25.4999 8.3055 25.4999 9.3765V19.0715ZM23.6666 8.1795H8.59325C8.47325 8.2005 8.41325 8.2215 8.32659 8.2705L16.1733 15.5435L24.0266 8.2635C23.8933 8.2075 23.8266 8.1865 23.6733 8.1865L23.6666 8.1795ZM7.63325 19.4425L12.7333 13.3385L7.73992 8.7115C7.59325 8.9285 7.54659 9.1315 7.53992 9.3835V19.1835C7.53992 19.2955 7.57992 19.4075 7.63325 19.4425ZM24.7999 19.0575V9.3835C24.7933 9.1315 24.7533 8.9425 24.5999 8.7115L19.6199 13.3245L24.7266 19.4285C24.7799 19.3095 24.7999 19.2185 24.7999 19.0575ZM24.2999 20.0445L19.0866 13.8075L16.4133 16.2855C16.2599 16.4255 16.0666 16.4255 15.9133 16.2855L13.2533 13.8215L8.03992 20.0655C8.24659 20.2125 8.43325 20.2755 8.67325 20.2755H23.6599C23.9133 20.2755 24.1266 20.1985 24.2999 20.0445Z"
                fill="currentColor"
              />
            </svg>
            Email</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">LINKEDIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-line" href="#">BEHANCE</a>
        </li>
      </ul>
      <button class="btn back-to-top fs-6" id="top">
        <span><img src="../assets/images/icon_top.svg" alt="top" /></span>
        TOP
      </button>
    </div>
  </div>
</nav>
