<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>plantique life</title>
    <link rel="stylesheet" href="/assets/scss/all.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="py-13">
      <div class="container">
        <div class="row">
          <!-- Title -->
          <div class="col-lg-3">
            <div class="sidebar">
              <div class="mb-8">
                <button class="btn back-btn">
                  <a href="../work.html" class="d-flex">
                    <svg
                      class="arrow-left"
                      viewBox="0 0 71 13"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path class="arrow-left-line" d="M0 6.5H68" />
                      <path
                        class="arrow-left-head"
                        d="M64.0693 13L68 6.5L64 0L71 6.40376L64.0693 13Z"
                        fill="currentColor"
                      />
                    </svg>
                    <p class="display-title m-0 ms-4">BACK to all work</p>
                  </a>
                </button>
              </div>
              <!-- Title -->
              <div>
                <h3 class="tc-font fw-light display-6 mb-2">植 感 生 活</h3>
                <p class="fs-5 fw-light mb-6">Plantique Life</p>
              </div>
              <button target="plantique" class="btn">
                <a
                  href="https://kira134679.github.io/plantique-life/"
                  class="custom-btn"
                >
                  Website
                  <svg
                    width="16"
                    height="16"
                    viewBox="0 0 22 22"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M18.1424 9.14201L18.8495 9.84911L3.90779 24.7908L3.20068 24.0837L18.1424 9.14201Z"
                      fill="currentColor"
                    />
                    <path
                      d="M20.4581 17.5727L18.5549 9.84625L10.7771 7.99439L20.7058 7.55273L20.4581 17.5727Z"
                      fill="currentColor"
                    />
                  </svg>
                </a>
              </button>
            </div>
          </div>

          <!-- Info -->
          <div class="col-lg-9">
            <div class="mb-0 justify-content-center align-self-center">
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_01.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_02.png"
                alt="Plantique Life"
                class="img-fluid bg-white"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_03.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_04.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_05.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_06.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_07.png"
                alt="Plantique Life"
                class="img-fluid"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_08.png"
                alt="Plantique Life"
                class="img-fluid bg-white"
              />
              <img
                src="/assets/images/portfolio/01_plantique-life/植感生活_09.png"
                alt="Plantique Life"
                class="img-fluid bg-white"
              />
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="/main.js"></script>
  </body>
</html>
