<!doctype html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drew's Portfolio</title>
    <link rel="stylesheet" href="/assets/scss/all.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="py-13">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1 class="index-title">Hi !</h1>
            <h3>This is Drew / <span>儀珊</span></h3>
            <p>
              I am UI Designer and Graphic Designer, and always enjoying the
              creative
            </p>
            <div class="d-flex">
              <span class="material-symbols-sharp align-bottom"> mail </span>
              drewchen24@gmail.com
            </div>
          </div>
          <div class="col-lg-4">
            <img
              class="d-flex"
              src="../assets/images/Drew-01.png"
              alt="Drew-01"
              style="width: 300px"
            />
          </div>
        </div>
      </div>
    </section>

    <section class="py-8">
      <div class="container">
        <!-- scroll text -->
        <div class="d-flex mb-12">
          <p class="m-0 me-3">Scroll to see recently work</p>
          <img
            src="/assets/images/scroll-down.svg"
            alt="scroll"
            style="width: 20px"
            class="mt-2"
          />
        </div>

        <!-- content -->
        <div class="row">
          <div class="col-lg-6">
            <div class="card border-0">
              <img
                src="/assets/images/portfolio/plantique-life.png"
                alt="plantique-life"
                class="mb-10"
              />
              <a
                href="https://www.google.com"
                class="mb-3 d-block"
                target="_blank"
              >
                <div class="product-card">
                  <h4 class="product-card-title mb-2">植 感 生 活</h4>
                  <p class="mb-7">
                    多肉植物電商網站，提供商品販賣及相關活動資訊，推廣多肉植物。
                  </p>
                </div>
                <div class="d-flex justify-content-around">
                  <div class="tag-group">
                    <span class="tag me-3">Front-end Engineering</span>
                    <span class="tag">2025</span>
                  </div>
                  <button class="btn custom-btn ms-auto">
                    <span class="arrow"></span>
                    View Project
                  </button>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-6"></div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
