<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Work</title>
    <link rel="stylesheet" href="/assets/scss/all.scss" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="py-13">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <!-- Title -->
            <h3 class="display-3 mb-8">Work</h3>
          </div>

          <!-- Info -->

          <div class="col-12">
            <ul
              class="nav nav-pills mb-8 gap-4"
              id="pills-tabContent"
              role="tablist"
            >
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link border rounded-0"
                  id="pills-all-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-all"
                  type="button"
                  role="tab"
                  aria-controls="pills-all"
                  aria-selected="true"
                >
                  All
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link border rounded-0"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-ui"
                  type="button"
                  role="tab"
                  aria-controls="pills-ui"
                  aria-selected="false"
                >
                  UI Design
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link border rounded-0"
                  id="pills-fronted-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-fronted"
                  type="button"
                  role="tab"
                  aria-controls="pills-fronted"
                  aria-selected="false"
                >
                   Front-end Engineering
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link border rounded-0"
                  id="pills-graphic-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-graphic"
                  type="button"
                  role="tab"
                  aria-controls="pills-graphic"
                  aria-selected="false"
                >
                   Graphic Design
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link border rounded-0"
                  id="pills-other-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-other"
                  type="button"
                  role="tab"
                  aria-controls="pills-other"
                  aria-selected="true"
                >
                   Other
                </button>
              </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-all"
                role="tabpanel"
                aria-labelledby="pills-all-tab"
                tabindex="0"
              >
                all
              </div>
              <div
                class="tab-pane fade"
                id="pills-ui"
                role="tabpanel"
                aria-labelledby="pills-ui-tab"
                tabindex="0"
              >
                UI
              </div>
              <div
                class="tab-pane fade"
                id="pills-fronted"
                role="tabpanel"
                aria-labelledby="pills-fronted-tab"
                tabindex="0"
              >
                fronted
              </div>
              <div
                class="tab-pane fade"
                id="pills-graphic"
                role="tabpanel"
                aria-labelledby="pills-graphic-tab"
                tabindex="0"
              >
                graphic
              </div>
              <div
                class="tab-pane fade"
                id="pills-other"
                role="tabpanel"
                aria-labelledby="pills-other-tab"
                tabindex="0"
              >
                other
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <%- include('./layout/footer'); -%>

    <script type="module" src="/main.js"></script>
  </body>
</html>
